<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhjclxc.mms.mapper.source2.BizOrderMapper">

    <resultMap id="BaseResultMap" type="com.nhjclxc.mms.model.BizOrder">
        <id column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
        <result column="destination" jdbcType="VARCHAR" property="destination" />
        <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select order_id, goods_name, destination, order_time
        from biz_order
    </select>

    <select id="selectAllUser" resultType="sysUser">
        select user_id, user_name, password
        from sys_user
    </select>

</mapper>
